html,
body {
	height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.circle-wrapper {
	display: flex;
	flex-direction: row;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background-color: #009BE1;
	position: relative;
	z-index: 1;
	padding: 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
	margin: 15%;
	border: 1px solid white;
	/*3E647E , FF5F01 , 002060*/
}

.dark-blue {
	background-color: #002060;
}

.ring {
	background-color: #fff;
	border: 30px solid #002060;
	height: 300px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 300px;
	position: absolute;
	top: 20%;
	left: 15%;
}

li {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
}

.first-col {
	margin-top: 8%;
	margin-left: 9%;
}

.third-col {
	margin-top: 8%;
}

.first-set li:nth-child(2) {
	width: 50%;
	left: 0;
}

.first-set li:nth-child(3) {
	width: 50%;
	height: 100%;
	border-left: 1px solid white;
}

.first-set li:nth-child(4) {
	width: 50%;
	top: 50%;
	left: -1px;
	border-top: 1px solid white;
}

.first-set li:nth-child(2) .fill-color {
	background: #3E647E;
}

.first-set li:nth-child(3) .fill-color {
	background: #009BE1;
}

.first-set li:nth-child(4) .fill-color {
	background: #FF5F01;
}

.second-set li:nth-child(2) {
	width: 50%;
	left: 0;
}

.second-set li:nth-child(3) {
	width: 50%;
	border-left: 1px solid white;
}

.second-set li:nth-child(4) {
	width: 100%;
	top: 50%;
	border-top: 1px solid white;
}

.second-set li:nth-child(2) .fill-color {
	background: #3E647E;
}

.second-set li:nth-child(3) .fill-color {
	background: #009BE1;
}

.second-set li:nth-child(4) .fill-color {
	background: #FF5F01;
}

.first-set .pie-label {
	position: relative;
	top: 39%;
	z-index: 9;
	color: white;
	font-weight: bold;
}

.second-set .pie-label {
	position: relative;
	top: 44%;
	z-index: 9;
	color: white;
	font-weight: bold;
}

.pie-label {
	position: relative;
	top: 44%;
	z-index: 9;
	color: white;
	font-weight: bold;
}

.fill-color {
	position: absolute;
	left: -100%;
	width: 200%;
	height: 200%;
	text-align: center;
	padding-top: 20px;
}